{% extends 'base.html' %}

{% block content %}
<div class="mt-5" style="color: white;">
    <h2>Carrito de Compras</h2>

    {% if carrito.items.count > 0 %}
        <ul>
            {% for item_carrito in carrito.items.all %}
                <li>{{ item_carrito.item.name }} - {{ item_carrito.cantidad }} x ${{ item_carrito.item.price }} = ${{ item_carrito.subtotal }}</li>
                <a href="{% url 'eliminar_del_carrito' item_carrito.id %}">Eliminar</a>
            {% endfor %}
        </ul>
        <p>Total: ${{ carrito.total }}</p>
        <a href="{% url 'proceder_compra' %}">Pagar</a>
    {% else %}
        <p>Tu carrito está vacío.</p>
    {% endif %}
</div>


{% endblock %}
