{% extends 'base.html' %}

{% block content %}




<main class="container">
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4 d-flex justify-content-center align-items-center" style="margin-top: 25%;">
            <form method="POST" class="card card-body mx-auto" style="background-color: #262139; color: #06DB75; box-shadow: 2px 0px 34px 0px rgba(6,219,116,1);">
                {% csrf_token %}
                <h1 class="mx-auto">Recuperacion de contraseña</h1>
                <div class="mb-3">
                    <label for="email">Ingresa tu email:</label>
                    <input type="text" name="email" id="email" class="form-control" placeholder="Email">
                </div>

                <button type="submit" id="boton" class="btn btn-success">Enviar</button>
            </form>
        </div>
    </div>
</main>



{% endblock %}