{% extends 'base.html' %}

{% block content %}




<main class="container">
    <div class="row " style="margin-top: 25%;">
        <div class="col-md-4 offset-md-4 mt-5" >
            
            {% if validlink %}
            <h1 class="mx-auto">LOG IN</h1>
            <form method="POST" class="card card-body mx-auto" style="background-color: #262139; color: #06DB75; box-shadow: 2px 0px 34px 0px rgba(6,219,116,1);">               
                {% csrf_token %}
                <div class="mb-3">
                    <label for="password1">Contraseña Nueva:</label>
                    <input type="password" name="password1" id="password1" class="form-control" placeholder="Contraseña">
                </div>
                <div class="mb-3">
                    <label for="password2">Repita Contraseña:</label>
                    <input type="password" name="password2" id="password2" class="form-control" placeholder="Repita Contraseña">
                </div>
                <button type="submit" id="boton" class="btn btn-success">LOG IN</button>
            </form>
            {% endif %}
        </div>
    </div>
</main>



{% endblock %}